// colors
$white: #ffffff;
$pink: #dc4e76;
$lilac: #cc4b93;
$violet: #a946be;
$blue: #5c4ae4;
$dark-blue: #35375a;
$light: #f8f8f8;
$light-gray: #f1f1f1;
$gray: #999999;
$dark-gray: #666666;
$dark: #333333;
$star-color: #f7f7f7;


// fonts
/*
System font stack
- https://www.client9.com/css-system-font-stack-sans-serif-v3/
- http://markdotto.com/2018/02/07/github-system-fonts/*/
