<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="enp_wrap w-100">
				<div class="enp_menu enp_product">
					<span class="menu_title">
						Produkten
					</span>
					<ul class="enp_items">
						<li class="menu-item">
							<a href="#">Översikt</a>
						</li>
						<li class="menu-item">
							<a href="#">Fördelar</a>
						</li>
						<li class="menu-item">
							<a href="#">GDPR</a>
						</li>
						<li class="menu-item">
							<a href="#">Analys</a>
						</li>
					</ul>
				</div>
				<div class="enp_menu enp_file">
					<span class="menu_title">
						Kundcase
					</span>
					<ul class="enp_items">
						<li class="menu-item">
							<a href="#">Falkenberg e-tjänster</a>
						</li>
						<li class="menu-item">
							<a href="#">Upplands-Bro genomgångssidor</a>
						</li>
						<li class="menu-item">
							<a href="#">Falkenberg startsidan</a>
						</li>
						<li class="menu-item">
							<a href="#">Postkodlotteriet frågor och svar</a>
						</li>
						<li class="menu-item">
							<a href="#">Falkenberg evenemang</a>
						</li>
					</ul>
				</div>
				<div class="enp_menu enp_solution">
					<span class="menu_title">
						Lösningen
					</span>
					<ul class="enp_items">
						<li class="menu-item">
							<a href="#">Teknisk översikt</a>
						</li>
						<li class="menu-item">
							<a href="#">Dokumentation</a>
						</li>
						<li class="menu-item">
							<a href="#">CMS-integration</a>
						</li>
						<li class="menu-item">
							<a href="#">Redaktörerna</a>
						</li>
						<li class="menu-item">
							<a href="#">Förvaltning</a>
						</li>
						<li class="menu-item">
							<a href="#">Utveckling</a>
						</li>
						<li class="menu-item">
							<a href="#">Användningsområden</a>
						</li>
					</ul>
				</div>
				<div class="enp_menu enp_company">
					<span class="menu_title">
						Företaget
					</span>
					<ul class="enp_items">
						<li class="menu-item">
							<a href="#">Vår resa</a>
						</li>
						<li class="menu-item">
							<a href="#">Vår vision</a>
						</li>
						<li class="menu-item">
							<a href="#">Omvärlden</a>
						</li>
						<li class="menu-item">
							<a href="#">Sandskogen AI</a>
						</li>
						<li class="menu-item">
							<a href="#">Blogg</a>
						</li>
					</ul>
					<a href="#" class="btn_contact">Kontakta oss</a>
				</div>
			</div>
			<div class="copyright_wrap w-100">
				<div class="enp_logo">
					<div class="logo_wrap">
						<a href="/">
							<img src="../img/rek.ai.svg" alt="">
						</a>
					</div>
					<div class="copyright_info">
						2018 Sandskogen AI - All rights reserved
					</div>
				</div>
				<div class="terms_wrap">
					<a href="#" target="_blank">Privacy policy</a>
					<a href="#" target="_blank">Terms of service</a>
					<a href="#" target="_blank">Service level agreement</a>
				</div>
			</div>
		</div>
	</div>
	<div class="all_pages">
		<div class="page_point"></div>
		<ul class="page_list">
			<li><a href="index.html">Index</a></li>
			<li><a href="genom.html">Genom</a></li>
			<li><a href="postkod.html">Postkod</a></li>
			<li><a href="template.html">Template</a></li>
		</ul>
	</div>
</footer>
