<header class="header">
	<nav class="navbar navbar-expand-lg">
		<div class="container">
			<div class="row w-100">
				<a class="navbar-brand" href="#">
					<img src="../img/logo.svg" alt="rek.ai">
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="menuBtn">MENY <i class="fas fa-bars"></i></span>
				</button>
				<div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" href="#">Start <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Kundcase</a>
						</li>
						<li class="nav-item active dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Lösningen
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="#">Teknisk översikt</a>
								<a class="dropdown-item" href="#">CMS-integration</a>
								<a class="dropdown-item" href="#">Förvaltning</a>
								<a class="dropdown-item" href="#">Utveckling</a>
								<a class="dropdown-item" href="#">Egna värden</a>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Kontakt</a>
						</li>
					</ul>
					<ul class="nav navbar-nav align-items-center">
						<li>
							<a href="#">Logga in</a>
						</li>
						<li><button type="button" class="btn_transparent">CTA</button></li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
</header>