<header class="header">
	<div class="container">
		<div class="row">
			<div class="header_wrap">
				<div class="logo_wrap">
					<a href="/">
						<img src="../img/logo.svg" alt="rek.ai">
					</a>
				</div>
				<div class="top_nav">
					<ul class="menu_list">
						<li class="menu-item">
							<a href="#">Start</a>
						</li>
						<li class="menu-item">
							<a href="#">Kundcase</a>
						</li>
						<li class="menu-item menu-item-has-children">
							<a href="#">Lösningen</a>
							<ul class="sub-menu">
								<li class="menu-item">
									<a href="#">Teknisk översikt</a>
								</li>
								<li class="menu-item">
									<a href="#">CMS-integration</a>
								</li>
								<li class="menu-item">
									<a href="#">Förvaltning</a>
								</li>
								<li class="menu-item">
									<a href="#">Utveckling</a>
								</li>
								<li class="menu-item">
									<a href="#">Egna värden</a>
								</li>
							</ul>
						</li>
						<li class="menu-item">
							<a href="#">Kontakt</a>
						</li>
					</ul>
				</div>
				<div class="log_btns">
					<a href="#" class="log_link">Logga in</a>
					<a href="#" class="btn_transparent">CTA</a>
				</div>
				<a href="#" class="menuBtn">MENY <i class="fas fa-bars"></i></a>
			</div>
		</div>
	</div>
</header>