.post_template {
  .post_content {
    padding-top: 54px;
    strong {
      font-size: 16px;
    }
    .browser_top {
      background: $white;
    }
    p {
      margin-bottom: 19px;
      color: $dark-blue;
    }
    .note_wrap {
      p {
        margin-bottom: 0;
      }
    }
  }
  h1 {
    color: $dark-blue;
    padding-bottom: 0;
    padding-top: 31px;
    &:before {
      bottom: auto;
      top: 0;
    }
  }
  h2 {
    padding-top: 41px;
    margin-bottom: 16px;
    color: $dark-blue;
  }
  ol {
    counter-reset: myCounter;
    list-style: none;
    padding-left: 15px;
    margin-bottom: 30px;
    li {
      color: $dark-blue;
      position: relative;
      font-size: 16px;
      line-height: 20px;
      &:before {
        counter-increment: myCounter;
        content: counter(myCounter)'. ';
        color: $dark-blue;
        font-size: 16px;
        font-weight: 400;
        margin-right: 10px;
      }
    }
  }
  ul {
    padding-left: 19px;
    list-style: none;
    li {
      font-size: 16px;
      line-height: 20px;
      color: $dark-blue;
      position: relative;
      padding-left: 22px;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(-50%, -50%);
        background: $dark-blue;
        border-radius: 50%;
        width: 5px;
        height: 5px;
      }
    }
  }
}
.bro_wrap {
  padding-top: 32px;
  padding-bottom: 61px;
}
.note_wrap {
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(180deg, #ffffff 0%, #f8f8f8 100%);
  max-width: 750px;
  width: 100%;
  padding: 40px;
  margin-bottom: 110px;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-image: linear-gradient(to right, #3023ae 0%, #c86dd7 100%);
    height: 3px;
    width: 100%;
  }
  h3 {
    color: $dark-blue;
    margin-bottom: 17px;
  }
}
